@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}   

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    position: relative;
}


.contact h2{
    font-size: 40px;
    color: #ccc;
    text-align: center;
    margin-bottom: 10px;
}

.contact form{
    width: 600px;
    text-align: center;
}

form .input-box{
    display: flex;
    justify-content: space-between;
}

.input-box .input-field{
    width: 48.5%;
}

.field .item{
    width: 100%;
    padding: 18px;
    background: transparent;
    border: 2px solid black;
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    color: #ccc;
    margin: 12px 0;
}

.field .item::placeholder{
    color: rgba(255, 255, 255, .3);
}

form .textarea-field .item{
    resize: none;
}


.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: seagreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

.logo{
    font-size: 32px;
    color: #ccc;
    text-decoration: none;
    font-weight: 700;
}

.navbar a{
    position: relative;
    font-size: 18px;
    color: #ccc;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0%;
    height: 2px;
    background: #ccc;
    transition: .3s;

}

.navbar a:hover::before{
    width: 100%;
}


main {
    padding: 80px 20px 20px;
    width: 100%;
    max-width: 1200px;
    flex: 1;
}

.produtos {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.produto {
    border: 1px solid #ccc;
    padding: 10px;
    width: 300px;
    text-align: center;
    box-sizing: border-box;
}

.produto img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

button {
    background-color: #28a745;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #218838;
    transform: scale(1.05);
}

button:active {
    background-color: #1e7e34;
    transform: scale(0.95);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: seagreen;
    color: #ccc;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.input-style {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #555;
    outline: none;
}

.input-style:focus {
    border-color: seagreen;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

@media (max-width: 768px) {
    header nav {
        flex-direction: column;
        align-items: flex-start;
    }
    .nav-center ul, .nav-right ul {
        flex-direction: column;
    }
    .nav-center ul li, .nav-right ul li {
        margin-left: 0;
        margin-top: 10px;
    }
}

/*CSS para a pagina de login*/

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #ffffff;
    padding: 30px;
    width: 450px;
    border-radius: 20px;
    border: 1.5px solid #47f32d;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.form button {
    align-self: flex-end;
}

.inputForm {
    border: 1.5px solid #ecedec;
    border-radius: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    transition: 0.2s ease-in-out;
}

.input {
    margin-left: 10px;
    border-radius: 10px;
    border: none;
    width: 85%;
    height: 100%;
}

.input:focus {
    outline: none;
}

.inputForm:focus-within {
    border: 1.5px solid #47f32d;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}

.button-submit {
    margin: 20px 0 10px 0;
    background-color: #28a745;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    cursor: pointer;
    
}

.button-submit:hover {
    background-color: #218838; /* Verde escuro */
    transform: scale(1.05);
} 
